<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}C.A.S - {% endblock %}</title>
        <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="{{ asset('materialize/css/materialize.min.css') }}">
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <link rel="stylesheet" href="{{ asset('web-fonts-with-css/css/fontawesome-all.min.css') }}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
    <div class="row">
        <div class="col l2">
            <ul id="slide-out" class="side-nav" style="background-color: rgba(49,59,70,1)">
                <div class="row">
                    <div class="col l10">
                        <br>
                        <ul class="collapsible navigation_collapsible" style="font-weight: 100 !important" data-collapsible="accordion">
                            <li>
                                <div class="user">
                                    {% if app.user is defined and app.user is not null %}
                                        {% if app.user.picture is defined and app.user.picture is not null %}
                                            <img src="{{ asset('/')~user_profile_pictures~'/'~app.user.picture }}" alt="user_image" class="circle middle-align user_extra_small_picture" >
                                        {% else %}
                                            <img src="{{ asset('img/avatar.jpg') }}" alt="user_image" class="circle middle-align user_extra_small_picture" >
                                        {% endif %}
                                    {% endif %}
                                    <span class="middle-align white-text" style="margin-left: 0px; font-weight: bold; text-align: center;">
                                        {% if app.user is defined and app.user is not null %}
                                            {% if ("now" |date("H")) >=12 %}
                                                {{ "Bonsoir, " }}
                                            {% else %}
                                                {{ "Bonjour, " }}
                                            {% endif %}
                                            {{ app.user.surname}}
                                            {#<a href="{{ path('logout') }}" class="white-text" style="position: relative;left: 30px">#}
                                           <a href="{{ path('logout') }}" style="position: relative; width: 50%;display: block!important;margin: 0 auto;padding-right: 3px;padding-left: 3px" class="white-text waves-effect waves-light btn">DECONNEXION</a>
                                                {#<span class="fa fa-power-off"></span>#}
                                            </a>
                                        {% endif %}
                                    </span>
                                </div>
                            </li>
                            <br>
                            <li>
                                <div class="collapsible-header valign-wrapper singleton">
                                    <span class="fa fa-home icons"></span>
                                    <a href="{{ path('homepage') }}" style="margin-left: 4px;">Accueil</a>
                                </div>
                            </li>
                            <li class="">
                                <div class="collapsible-header collapsible_historique valign-wrapper">
                                    <span class="fa fa-file-alt icons"></span>
                                    <span style="margin-left: 4px;">Présences</span>
                                </div>
                                <div class="collapsible-body collapsible-body-perso nav-collapsible-body">
                                    <a href="{{ path("historique") }}" class="collapsible-links cl_history">Historiques</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header valign-wrapper">
                                    <span class="fa fa-chart-bar icons"></span>
                                    <span style="margin-left: 4px;">Statistiques</span>
                                </div>
                                <div class="collapsible-body collapsible-body-perso nav-collapsible-body">
                                    <a href="{{ path("depStat") }}" class="collapsible-links cl_DepStats">Départements</a>
                                    <br>
                                    <a href="{{ path("persStat") }}" class="collapsible-links cl_PersStats">Personnelles</a>
                                    <br>
                                    <a href="{{ path("rapports") }}" class="collapsible-links cl_Rapports">Rapports</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header valign-wrapper">
                                    <span class="fa fa-file icons"></span>
                                    <span style="margin-left: 4px;">Permissions</span>
                                </div>
                                <div class="collapsible-body collapsible-body-perso nav-collapsible-body">
                                    <a href="{{ path('viewPermission') }}" class="collapsible-links cl_PermList">Liste</a>
                                    <br>
                                    <a href="{{ path('addPermission') }}" class="collapsible-links cl_Perm">Demander</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header valign-wrapper singleton">
                                    <span class="fa fa-building icons"></span>
                                    <a href="{{ path("departement") }}" style="margin-left: 4px;">Départements</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header valign-wrapper">
                                    <span class="fa fa-user icons"></span>
                                    <span style="margin-left: 4px;">Employés</span>
                                </div>
                                <div class="collapsible-body collapsible-body-perso nav-collapsible-body">
                                    <a href="{{ path("addEmployee") }}" class="collapsible-links cl_Emp">Ajouter</a>
                                    <br>
                                    <a href="{{ path("viewEmployee") }}" class="collapsible-links cl_vEmp">Informations</a>
                                </div>
                            </li>
                            <li>
                                <div class="collapsible-header valign-wrapper">
                                    <span class="fa fa-wrench icons"></span>
                                    <span style="margin-left: 4px;">Réglages</span>
                                </div>
                                <div class="collapsible-body collapsible-body-perso nav-collapsible-body">
                                    <a href="{{ path("addWorkingHour") }}" class="collapsible-links cl_WH">Ajouter heure de travail</a>
                                    <br>
                                    <a href="{{ path("addMachine") }}" class="collapsible-links cl_Mac">Machines enrégistrées</a>
                                    <br>
                                    <a href="{{ path("manage") }}" class="collapsible-links cl_Manage">Gestion du système</a>
                                </div>
                            </li>
                            <li>
                                <p class="white-text" style="margin-left: 20px">
                                    Votre level d'administration est :

                                    {% if app.user is defined and app.user is not null %}
                                        {{ app.user.roles[0] }}
                                    {% else %}
                                        {{ "Nothing to show" }}
                                    {% endif %}
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </ul>
        </div>

        <div>
            <nav class="col right l12 white black-text" style="position: fixed;z-index:998;height: 52.5px;line-height: 52.5px">
                <div class="nav-wrapper">
                    <a href="#" class="black-text">
                        <span data-activates="slide-out" class="button-collapse fa fa-bars fa-2x" style="margin-top: 10px"></span>
                        {%  if app.session.get('companyLogo') is defined and app.session.get('companyLogo') is not null %}
                            <img src="{{ asset("company_images/"~app.session.get('companyLogo')) }}" class="middle-align" style="height: 60%;width: auto;border-radius: 0%">
                        {% endif %}
                        <span class="black-text middle-align">{{ app.session.get('companyName') }}</span>
                        <span class="right black-text">Expiration : {{ app.session.get('expiryDate') }}</span>
                    </a>
                </div>
            </nav>
        </div>
    </div>
    <br><br><br>
    <div class="container" style="min-height: 500px">
        {% block body %}{% endblock %}
    </div>

    <footer class="page-footer" style="background-color: rgb(49, 59, 70)">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">About CAS</h5>
                    <p class="grey-text text-lighten-4">CAS is the best way to manage your employees</p>
                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Contact</h5>
                    <ul>
                        <li>
                            <p class="grey-text text-lighten-3" href="#!">
                                <span class="fa fa-phone"></span>
                                +228 90 62 87 25
                            </p>
                        </li>
                        <li>
                            <p class="grey-text text-lighten-3" href="#!">
                                <span class="fa fa-computer-alt"></span>
                                Email: 2597434002@qq.com
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2018 C.A.S All rigths reserved
                <a class="grey-text text-lighten-4 right" href="http://www.gscmanagment.com">www.gscmanagment.com</a>
            </div>
        </div>
    </footer>

    <script src="{{ asset('js/jquery-3.3.1.min.js') }}"></script>
    <script src="{{ asset('materialize/js/materialize.min.js') }}"></script>

    {% block javascripts %}{% endblock %}
    <script src="{{ asset('js/script.js') }}"></script>
    </body>
</html>
