{% extends 'base.html.twig' %}


{% block title %}C.A.S - Ajouter administrateur{% endblock %}

{% block body %}

<!-- Modal for ajax loading -->
<div>
    <!-- Modal for ajax loading -->
    <div id="modal_loading" class="modal ajax_modals">
        <div class="modal-content" style="width: 200px;display:table;position:relative;margin: 0 auto; top: calc(50% - 24px);">
            <p class="center">
                <img class="mw-100 mh-100" src="{{ asset('img/ajax_loaders/ajax-loading.gif') }}">
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="wrapper">

        {% include('cas/partials/_sidebar.html.twig') %}

        <div class="content-page">
            <div class="content">
                <div class="row">
        <div class="col l12">
            <h2 class="h5_title"><span class="fa fa-user-circle"></span> Ajouter un administrateur</h2>
            <div class="row">
                <div class="col l12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active collapsible-header-title">Formulaire d'ajout d'un nouvel administrateur</div>
                            <div class="collapsible-body" style="padding-bottom: 0px">
                                {% for message in  app.session.flashbag.get('notice') %}
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="operation_message">
                                                {{ message }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                {% for message in  app.session.flashbag.get('error_notice') %}
                                    <div class="row">
                                        <div class="col-lg-12 col-sm-12">
                                            <div class="operation_error_message">
                                                {{ message }}
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}
                                <div class="row mb-2">
                                    <div class="col-lg-4 col-sm-12 mt-sm-2">
                                        <input type="text" class="form-control" id="adminSurname" placeholder="Nom">
                                    </div>
                                    <div class="col-lg-4 col-sm-12 mt-sm-2">
                                        <input type="text" class="form-control" id="adminName" placeholder="Prénom(s)">
                                    </div>
                                    <div class="col-lg-4 col-sm-12 mt-sm-2">
                                        <input type="text" class="form-control" id="adminAdress" placeholder="Adresse">
                                    </div>
                                </div>
                                <div class="row mb-2">
                                    <div class="col-lg-4 col-sm-12 mt-sm-2">
                                        <input type="number" class="form-control" min="1" id="adminPhoneNumber" placeholder="Numéro de téléphone">
                                    </div>
                                    <div class="col-lg-4 col-sm-12 mt-sm-2">
                                        <input type="text" class="form-control" id="adminUsername" placeholder="Choisissez un pseudo">
                                    </div>
                                    <div class="col-lg-4 col-sm-12 mt-sm-2">
                                        <input type="password" class="form-control" id="adminFirstPassword" placeholder="Mot de passe">
                                    </div>
                                </div>
                                <div class="form-group row mb-2">
                                    <div class="col-lg-6 col-sm-12 mt-sm-2">
                                        <input type="password" class="form-control" id="adminSecondPassword" placeholder="Confirmation du mot de passe">
                                    </div>
                                    <div class="col-lg-6 col-sm-12 mt-sm-2">
                                        <select id="role" class="form-control">
                                            <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                                            <option value="ROLE_ADMIN_CONTROL">ROLE_ADMIN_CONTROL</option>
                                            <option value="ROLE_SECRET">ROLE_SECRET</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-sm-12">
                                        <input type="button" value="Ajouter" class="btn btn-success" id="submitButton">
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#preview').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".fileInput").change(function() {
                readURL(this);
            });

            $("#submitButton").click(function () {
                // We verify if all fields are not empty
                        if($("#adminName").val()){
                            if($("#adminSurname").val()){
                                if($("#adminAdress").val()){
                                    if($("#adminPhoneNumber").val()){
                                        if($("#adminFirstPassword").val()){
                                            if($("#adminFirstPassword").val().length >= 6){
                                                if($("#adminFirstPassword").val() == $("#adminSecondPassword").val()){
                                                    $('#modal_loading').modal('show');
                                                    // After the verifications we can deal with the ajax queries
                                                    var formdata = new FormData();
                                                    var fInput = document.getElementById("fileInput");
                                                    console.log(fInput);
                                                    formdata.append("adminName",$("#adminName").val());
                                                    formdata.append("adminSurname",$("#adminSurname").val());
                                                    formdata.append("adminAdress",$("#adminAdress").val());
                                                    formdata.append("adminPhoneNumber",$("#adminPhoneNumber").val());
                                                    formdata.append("adminUsername",$("#adminUsername").val());
                                                    formdata.append("adminPassword",$("#adminFirstPassword").val());
                                                    formdata.append("role",$("#role").val());
                                                    console.log(fInput);
                                                    $.ajax({
                                                        url: "{{ path('persistNewAdmin') }}",
                                                        type: "POST",
                                                        data: formdata,
                                                        cache:false,
                                                        contentType: false,
                                                        processData: false,
                                                        success: function(data) {
                                                            if(data == 1){
                                                                window.location.href = "{{ path('addNewAdmin') }}";
                                                            }
                                                            $('#modal_loading').modal('hide');
                                                        },
                                                        error: function() {
                                                            alert("Erreur");

                                                            $('#modal_loading').modal('hide');

                                                        }
                                                    });
                                                }else {
                                                    alert("Erreur : Les mot de passes sont differents");
                                                }
                                            }else {
                                                alert("Erreur : Mot de passe trop court.8 caracteres minimum");
                                            }
                                        }else {
                                            alert("Erreur : Tous les champs sont obligatoires");
                                        }
                                    }else {
                                        alert("Erreur : Tous les champs sont obligatoires");
                                    }
                                }else {
                                    alert("Erreur : Tous les champs sont obligatoires");
                                }
                            }else {
                                alert("Erreur : Tous les champs sont obligatoires");
                            }
                        }else {
                            alert("Erreur : Tous les champs sont obligatoires");
                        }

                // End of verification
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
