{% extends 'base.html.twig' %}


{% block title %}C.A.S - Permission{% endblock %}



{% block body %}

<div class="container-fluid">
    <div class="wrapper">

        {% include('cas/partials/_sidebar.html.twig') %}

        <div class="content-page">
            <div class="content">

                <div class="col-lg-12">
                    <h2 class="page-title"><span class="uil-calendar-alt"></span> Nouvelle permission</h2>
                </div>
                <div class="row card">
                    <div class="col-lg-12 card-body">
                        <p class="description_message">Vous pouvez enregistrer une nouvelle permission grâce à ce formulaire</p>
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header active collapsible-header-title">Formulaire d'ajout d'une nouvelle permission </div>
                                        <div class="collapsible-body" style="padding-bottom: 0px">
                                            <div class="row">
                                                <div class="col-lg-12">
                                                    {% for message in  app.session.flashbag.get('notice') %}
                                                        <div class="row">
                                                            <div class="col-lg-12">
                                                                <div class="operation_message">
                                                                    {{ message }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                    {% for message in  app.session.flashbag.get('error_notice') %}
                                                        <div class="row">
                                                            <div class="col-lg-12 col-sm-12">
                                                                <div class="operation_error_message">
                                                                    {{ message }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    {% endfor %}
                                                    {{ form_start(form) }}
                                                    <div class="row mt-2">
                                                        <div class="input-field col-lg-12 col-sm-12">
                                                            <span>Choisir l'employé</span>
                                                            {{ form_row(form.employee, {'attr': {'class': 'form-control selectpicker', 'data-live-search':'true'}}) }}
                                                        </div>
                                                    </div>
                                                        <div class="row mt-2">
                                                            <div class="input-field col-lg-6 col-sm-12 mt-3">
                                                                <span>Type de la permission</span>

                                                                {{ form_row(form.type, {'attr': {'class': 'form-control selectpicker', 'data-live-search':'true'}}) }}
                                                            </div>
                                                            <div class="input-field col-lg-6 col-sm-12">
                                                                <span>Description</span>
                                                                {{ form_row(form.description, {'attr': {'class': 'form-control input-customized'}}) }}
                                                            </div>
                                                        </div>
                                                        <div class="row mt-2">
                                                            <div class="input-field col-lg-3 col-sm-12">
                                                                <span>Date de début</span>
                                                                {{ form_row(form.dateFrom, {'type':'date','attr': {'class': 'form-control input-customized datepicker','placeholder':'Date de début'}}) }}
                                                            </div>
                                                            <div class="input-field col-lg-3 col-sm-12">
                                                                <span>Heure de début</span>
                                                                {{ form_row(form.timeFrom, {'type':'time','attr': {'class': 'form-control input-customized timepicker','placeholder':'Date de début'}}) }}
                                                            </div>
                                                            <div class="input-field col-lg-3 col-sm-12">
                                                                <span>Date de fin</span>
                                                                {{ form_row(form.dateTo, {'type':'date','attr': {'class': 'form-control input-customized datepicker','placeholder':'Date de fin'}}) }}
                                                            </div>
                                                            <div class="input-field col-lg-3 col-sm-12">
                                                                <span>Heure de fin</span>
                                                                {{ form_row(form.timeTo, {'type':'time','attr': {'class': 'form-control input-customized timepicker','placeholder':'Date de début'}}) }}
                                                            </div>
                                                        </div>

                                                        {{ form_widget(form.creer, { 'label': 'Créer','attr': {'class':'btn btn-lg btn-success mt-3'} }) }}
                                                        {{ form_rest(form) }}
                                                    {{ form_end(form) }}
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/css/bootstrap-select.min.css" rel="stylesheet" />

    <script>
        // On s'attaque aux collapsibles
        $(function () {
            $(function() {
                $('.selectpicker').selectpicker('render');
            });

            $(".cl_Perm").addClass("collapsible_element_active");
            $(".navigation_collapsible").collapsible('open',3);

            $('.datepicker').on('mousedown',function(event){
                event.preventDefault();
            });

            $('.timepicker').on('mousedown',function(event){
                event.preventDefault();
            });

            $(function() {
                $('.selectpicker').selectpicker('render');
            });

        });
    </script>
{% endblock %}
