{% extends 'base.html.twig' %}


{% block title %}C.A.S - Suppression{% endblock %}

{% block body %}

<!-- Modal for ajax loading -->
<div>
    <!-- Modal for ajax loading -->
    <div id="modal_loading" class="modal ajax_modals">
        <div class="modal-content" style="width: 200px;display:table;position:relative;margin: 0 auto; top: calc(50% - 24px);">
            <p class="center">
                <img class="mw-100 mh-100" src="{{ asset('img/ajax_loaders/ajax-loading.gif') }}">
            </p>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="wrapper">

        {% include('cas/partials/_sidebar.html.twig') %}

        <div class="content-page">
            <div class="content">

                <div class="row">
                    <div class="col-lg-12">
                        <!-- hidden input -->
                        <div style="display: none">
                            <select id="depSelected">
                                {% for dep in departements %}
                                    <option value="{{ dep.id }}">{{ dep.id }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="col-lg-12">
                            <h2>Changer l'état des machines</h2>
                        </div>
                        <div class="row row card">
                            <div class="col-lg-12 card-body">

                                <div class="row">
                                    <div class="col-lg-12">
                                        <ul class="collapsible" data-collapsible="accordion">
                                            <li>
                                                <div class="collapsible-header active collapsible-header-title">Changement d'état</div>
                                                <div class="collapsible-body" style="padding-bottom: 0px">
                                                    <div class="row">
                                                        <form class="col-lg-12" id="main_form">
                                                            <p>
                                                                <input name="group1" class="" value="1" type="radio" id="el1" />
                                                                <label for="el1">Toutes les machines</label>
                                                                <input name="group1" class="" value="3" type="radio" id="el3" />
                                                                <label for="el3">Sélection unique</label>
                                                            </p>
                                                            <span id="type1">
                                            <div class="row firstOne">
                                                <div class="col-lg-12">
                                                    <h5>Toutes les machines</h5>
                                                    <span>Changer l'état de toutes les machines du système</span>
                                                </div>
                                            </div>
                                            <div id="deleteForAll" class="btn btn-danger btn-circle btn-md">
                                                <span class="fa fa-trash fa-2x"></span>
                                            </div>
                                            <span>Supprimer les données</span>
                                        </span>
                                                            <span id="type3">
                                            <div class="row firstOne">
                                                <div class="col-lg-12">
                                                    <h5>Sélection unique</h5>
                                                    <span>Choisissez la machine correspondante</span>
                                                    <select id="macSelected" class="form-control">
                                                        {% for mac in machines %}
                                                            <option value="{{ mac.machineId }}">{{ mac.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <br>
                                                    Changer l'état d'une machine précise
                                                </div>
                                            </div>
                                            <div id="deleteForMac" class="btn btn-danger btn-circle btn-md">
                                                <span class="fa fa-trash fa-2x"></span>
                                            </div>
                                            <span>Supprimer les données</span>
                                        </span>
                                                        </form>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var selected = 0;

            $("#type1").show();
            $("#type2").hide();
            $("#type3").hide();
            $("input[type=radio][name=group1]").change(function () {
                switch (this.value) {
                    case "1":
                        $("#type1").show();
                        $("#type2").hide();
                        $("#type3").hide();
                        selected = 1;
                        break;
                    case "2":
                        $("#type1").hide();
                        $("#type2").show();
                        $("#type3").hide();
                        selected = 2;
                        break;
                    case "3":
                        $("#type1").hide();
                        $("#type2").hide();
                        $("#type3").show();
                        selected = 3;
                        break;
                }
            });
        });
    </script>
    <!-- Script pour les évenements de mise à jour -->
    <script>
        $(function () {
            var tab = [];
            $.each($("#depSelected").children(),function (arrayID) {
                var el = $(this).attr("value");
                //console.log("Index : "+arrayID+" Value : "+el);
                tab.push(el);
            });
            console.log(tab);
            $("#deleteForAll").click(function () {
                $('#modal_loading').modal('open');
                $.ajax({
                    type: 'POST',
                    url: "{{ path('syncDeleteForAll') }}",
                    data: {"deps":tab},
                    success: function (data) {
                        console.log(data);
                        // Closing the loading box

                        $('#modal_loading').modal('close');
                    },
                    error: function (msg) {
                        alert("erreur");
                        console.log(msg);
                    }
                });
            });
        });
    </script>
    <script>
        $(function () {
            $("#deleteForMac").click(function () {
                $('#modal_loading').modal('open');
                var el = $("#macSelected").val();
                console.log("Element : "+el);
                $.ajax({
                    type: 'POST',
                    url: "{{ path('syncDeleteByMac') }}",
                    data: {"mac":el},
                    success: function (data) {
                        console.log(data);
                        // Closing the loading box

                        $('#modal_loading').modal('close');
                    },
                    error: function (msg) {
                        alert("erreur");
                        console.log(msg);
                    }
                });
            });
        });
    </script>

{% endblock %}
