{% extends 'base.html.twig' %}


{% block title %}C.A.S - Profil{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="wrapper">

        {% include('cas/partials/_sidebar.html.twig') %}

        <div class="content-page">
            <div class="content">
                <!-- Modal for details -->
                <h2 class="h5_title"><span class="fa fa-user-secret"></span> Modification des informations personnelles</h2>

                <div class="row card">
                    <div class="col-lg-12 card-body">
                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header active collapsible-header-title">Modifiez vos informations</div>
                                        <div class="collapsible-body" style="padding-bottom: 0px">

                                            {% for message in  app.session.flashbag.get('notice') %}
                                                <div class="row">
                                                    <div class="col-lg-12">
                                                        <div class="operation_message">
                                                            {{ message }}
                                                        </div>
                                                    </div>
                                                </div>
                                            {% endfor %}

                                            {% if form is defined and form is not null %}
                                                {{ form_start(form) }}
                                                    <div class="row">
                                                        <div class="col l3 center">
                                                            {% if app.user.picture is defined and app.user.picture is not null %}
                                                                <img src="{{ asset('user_profile_pictures/'~app.user.picture) }}" id="preview" alt="preview" style="width: 100%">
                                                                {% else %}
                                                                <img src="{{ asset('img/avatar.jpg') }}" id="preview" alt="preview" style="width: 100%">
                                                            {% endif %}
                                                            <p class="center">Photo de profil</p>
                                                        </div>
                                                        <div class="col l9">
                                                            {{ form_row(form.picture, {'attr': {'class':'fileInput form-control','id':'fileInput','style':'display:block'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            {{ form_row(form.surname, {'attr': {'class':'form-control', 'placeholder':'Nom'}}) }}
                                                        </div>
                                                        <div class="col-lg-4">
                                                            {{ form_row(form.name, {'attr': {'class':'form-control', 'placeholder':'Prénom(s)'}}) }}
                                                        </div>
                                                        <div class="col-lg-4">
                                                            {{ form_row(form.address, {'attr': {'class':'form-control', 'placeholder':'Adresse'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-4">
                                                            {{ form_row(form.phonenumber, {'attr': {'class':'form-control', 'placeholder':'Numéro de téléphone','min':'1'}}) }}
                                                        </div>
                                                        <div class="col-lg-4">
                                                            {{ form_row(form.password.first, {'attr': {'class':'form-control', 'placeholder':'Mot de passe'}}) }}
                                                        </div>
                                                        <div class="col-lg-4">
                                                            {{ form_row(form.password.second, {'attr': {'class':'form-control', 'placeholder':'Confirmation du mot de passe'}}) }}
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-lg-12">
                                                            {{ form_widget(form.Modifier, { 'label': 'Modifier','attr': {'class':'mt-3 btn btn-success btn-lg'} }) }}
                                                        </div>
                                                    </div>
                                                {{ form_end(form) }}
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {

            function readURL(input) {
                if (input.files && input.files[0]) {
                    var reader = new FileReader();
                    reader.onload = function(e) {
                        $('#preview').attr('src', e.target.result);
                    }
                    reader.readAsDataURL(input.files[0]);
                }
            }

            $(".fileInput").change(function() {
                readURL(this);
            });

            $("#submitButton").click(function () {
                // We verify if all fields are not empty
                if($("#compName").val()){
                    if($(".fileInput").val()){
                        if($("#adminName").val()){
                            if($("#adminSurname").val()){
                                if($("#adminAdress").val()){
                                    if($("#adminPhoneNumber").val()){
                                        if($("#adminFirstPassword").val()){
                                            if($("#adminFirstPassword").val().length >= 6){
                                                if($("#adminFirstPassword").val() == $("#adminSecondPassword").val()){
                                                    $('#modal_loading').modal('open');
                                                    // After the verifications we can deal with the ajax queries
                                                    var formdata = new FormData();
                                                    var fInput = document.getElementById("fileInput");
                                                    console.log(fInput);
                                                    formdata.append("compName",$("#compName").val());
                                                    formdata.append("image",fInput.files[0]);
                                                    formdata.append("adminName",$("#adminName").val());
                                                    formdata.append("adminSurname",$("#adminSurname").val());
                                                    formdata.append("adminAdress",$("#adminAdress").val());
                                                    formdata.append("adminPhoneNumber",$("#adminPhoneNumber").val());
                                                    formdata.append("adminUsername",$("#adminUsername").val());
                                                    formdata.append("adminPassword",$("#adminFirstPassword").val());
                                                    console.log(fInput);
                                                    $.ajax({
                                                        url: "{{ path('initializeApplication') }}",
                                                        type: "POST",
                                                        data: formdata,
                                                        cache:false,
                                                        contentType: false,
                                                        processData: false,
                                                        success: function(data) {
                                                            // W're making a test here for redirection
                                                            if(data == 1){
                                                                window.location.href = "{{ path('homepage') }}";
                                                            }

                                                            $('#modal_loading').modal('close');

                                                        },
                                                        error: function() {
                                                            alert("Erreur");

                                                            $('#modal_loading').modal('close');

                                                        }
                                                    });
                                                }else {
                                                    alert("Erreur : Les mot de passes sont differents");
                                                }
                                            }else {
                                                alert("Erreur : Mot de passe trop court.8 caracteres minimum");
                                            }
                                        }else {
                                            alert("Erreur : Tous les champs sont obligatoires");
                                        }
                                    }else {
                                        alert("Erreur : Tous les champs sont obligatoires");
                                    }
                                }else {
                                    alert("Erreur : Tous les champs sont obligatoires");
                                }
                            }else {
                                alert("Erreur : Tous les champs sont obligatoires");
                            }
                        }else {
                            alert("Erreur : Tous les champs sont obligatoires");
                        }
                    }else {
                        alert("Erreur : Tous les champs sont obligatoires 555");
                    }
                }else{
                    alert("Erreur : Tous les champs sont obligatoires");
                }
                // End of verification
            });
        });
    </script>
{% endblock %}

{% block stylesheets %}
{% endblock %}
