{% extends 'base.html.twig' %}


{% block title %}C.A.S - Accueil{% endblock %}

{% block body %}
<!-- Modal for ajax loading -->
<div>
    <!-- Modal for ajax loading -->
    <div id="modal_loading" class="modal ajax_modals">
        <div class="modal-content" style="width: 200px;display:table;position:relative;margin: 0 auto; top: calc(50% - 24px);">
            <p class="center">
                <img class="mw-100 mh-100" src="{{ asset('img/ajax_loaders/ajax-loading.gif') }}">
            </p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="wrapper">
        {% include('cas/partials/_sidebar.html.twig') %}
        <div class="content-page">
            <div class="content">

                <div class="row">
                    <div class="col-lg-6 card">
                        <div class="col-lg-12">
                            <h4 class="text-center" >Top retardataires</h4>
                            <div class="card-columns info_container_retards">
                                <div class="card col-lg-12 col-sm-12 text-center">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6 card">
                        <div class="col-lg-12">
                            <h4 class="text-center">Top départs prématurés</h4>
                            <div class="card-columns info_container_departs">

                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-4 col-md-12" >
                            <div class="card" data-toggle="modal" data-target="#modal-retard">
                                <h5 class="text-center">Retards</h5>
                                <div class="card-body">
                                    <canvas id="foo1"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-retard" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Detail des départs</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="modal-retard-content"></div>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="card" data-toggle="modal" data-target="#modal-depart">
                                <h5 class="text-center">Départ</h5>
                                <div class="card-body">
                                    <canvas id="foo2"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-depart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Detail des retards</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="modal-depart-content"></div>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-lg-4 col-md-12">
                            <div class="card" data-toggle="modal" data-target="#modal-abscence">
                                <h5 class="text-center">Abscence</h5>
                                <div class="card-body">
                                    <canvas id="foo3"></canvas>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modal-abscence" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Detail des abscences</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div id="modal-abscence-content"></div>
                                    </div>
                                    <div class="modal-footer">
                                    </div>
                                </div>
                            </div>
                        </div>


                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="fixed-action-btn" style="margin-bottom: 30px">
                            {% if is_granted('ROLE_ADMIN') %}
                                <a href="{{ path("manage") }}" class="text-center btn-circle btn-md btn-success btn-lg float" id="btnVerify" data-position="top" data-toggle="Vérifier les mises à jours">
                                    <i class="fa fa-sync fa-2x"></i>
                                </a>
                            {% endif %}
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-lg-3 col-md-4 col-sm-12">
                                        <a href="{{ path("depStat") }}">
                                            <div class="card widget-flat">
                                                <div class="card-body">
                                                    <div class="float-right">
                                                        <i class="text-info fa fa-list-alt fa-2x"></i>
                                                    </div>
                                                    <h3 class="text-info text-muted font-weight-normal mt-0" title="Number of Customers">Retards</h3>
                                                    <h1 class="mt-3 mb-3 spanRetard"></h1>
                                                </div> <!-- end card-body-->
                                            </div> <!-- end card-->
                                        </a>
                                    </div>

                                    <div class="col-lg-3 m6 s12">
                                        <a href="{{ path("depStat") }}">
                                            <div class="card widget-flat">
                                                <div class="card-body">
                                                    <div class="float-right">
                                                        <i class="text-warning fa fa-paper-plane fa-2x"></i>
                                                    </div>
                                                    <h3 class=" text-muted font-weight-normal mt-0" title="Number of Customers">Départs</h3>
                                                    <h1 class="mt-3 mb-3 spanDepart"></h1>
                                                </div> <!-- end card-body-->
                                            </div> <!-- end card-->
                                        </a>
                                    </div>

                                    <div class="col-lg-3 m6 s12">
                                        <a href="{{ path("viewPermission") }}">
                                            <div class="card widget-flat">
                                                <div class="card-body">
                                                    <div class="float-right">
                                                        <i class="text-success fa fa-check fa-2x"></i>
                                                    </div>
                                                    <h3 class=" text-muted font-weight-normal mt-0" title="Number of Customers">Permissions</h3>
                                                    <h1 class="mt-3 mb-3 spanPermission"></h1>
                                                </div> <!-- end card-body-->
                                            </div> <!-- end card-->
                                        </a>
                                    </div>

                                    <div class="col-lg-3 m6 s12">
                                        <a href="{{ path("depStat") }}">
                                            <div class="card widget-flat">
                                                <div class="card-body">
                                                    <div class="float-right">
                                                        <i class="text-danger fa fa-window-close fa-2x"></i>
                                                    </div>
                                                    <h3 class=" text-muted font-weight-normal mt-0" title="Number of Customers">Absences</h3>
                                                    <h1 class="mt-3 mb-3 spanAbsence"></h1>
                                                </div> <!-- end card-body-->
                                            </div> <!-- end card-->
                                        </a>
                                    </div>

                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card" style="padding: 20px;word-break: break-all;word-wrap: break-word">
                                    <div>
                                        {#   {%  if app.session.get('companyLogo') is defined and app.session.get('companyLogo') is not null %}
                                   <img src="{{ asset("company_images/"~app.session.get('companyLogo')) }}" style="display:inline-block;vertical-align:middle;height: 100px;width: auto;border-radius: 0%">
                               {% endif %}#}
                                        {#<h5 style="display: inline;vertical-align: middle;margin-left: 200px">TOGOCEL</h5>#}
                                        {#<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed non massa nec dolor iaculis dapibus vitae at erat. Maecenas pretium vehicula aliquet. Nam tempor erat arcu, ac fringilla ligula ornare nec. Interdum et malesuada fames ac ante ipsum primis in faucibus. Fusce sit amet purus in enim consectetur finibus. Ut tempus orci a libero porttitor pellentesque ac sit amet quam. Ut porttitor orci sit amet risus interdum, ut viverra felis accumsan. Morbi at commodo sem, eu feugiat magna. Aliquam sem tellus, rhoncus faucibus odio ut, blandit congue est. In malesuada, enim vel vehicula pellentesque, sem purus dignissim nibh, ut venenatis risus nibh at ex. Nullam hendrerit ligula ante, cursus suscipit arcu commodo sed. Praesent ultrices neque metus, ut accumsan sem.</p>#}

                                        {% include 'cas/home_presentation.html.twig' %}

                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        $('.slider').slider({
            indicators:true
        });
    </script>
    <script>
        function convertInHour(minutes) {
            if(minutes>=60){
                var hours = Math.trunc(minutes/60);
                var min = minutes-(hours*60);
                return hours+"H "+min;
            }else{
                return minutes;
            }
        }

        function precisionRound(number, precision) {
            var factor = Math.pow(10, precision);
            return Math.round(number * factor) / factor;
        }

        // Recuperation des autres informations
        $.ajax({
            type: 'POST',
            url: "{{ path('homeStats') }}",
            success: function (data) {
                console.log(data);
                //console.log(data);
                $(".spanRetard").text(data.retards);
                $(".spanDepart").text(data.departs);
                $(".spanPermission").text(data.permissions);
                $(".spanAbsence").text(data.absences);

                var tailleClassRet = Object.keys(data.classementRetard).length;
                var tailleClassDep = Object.keys(data.classementDepart).length;
                console.log(data.classementDepart);

                var cpt =0;

                console.log("taille du tableau de retards : "+tailleClassRet);
                console.log("taille du tableau de departs : "+tailleClassDep);

                // First of all we must convert the json object to an array
                var tabR = [];
                var cumulRetards = 0;
                $.each(data.classementRetard,function (arrayID) {
                    tabR.push([data.classementRetard[arrayID]["name"],data.classementRetard[arrayID]["cumul"],data.classementRetard[arrayID]["dep"],data.classementRetard[arrayID]["picture"]]);
                });
                var cumulRetards = tabR[1];
                var tabD = [];
                $.each(data.classementDepart,function (arrayID) {
                    tabD.push([data.classementDepart[arrayID]["name"],data.classementDepart[arrayID]["cumul"],data.classementDepart[arrayID]["dep"],data.classementDepart[arrayID]["picture"]]);
                });

                var cumulDeparts = tabD[1];

                // Sorting the data to obtain just three entries
                var tempTab = [];
                for(var i=0;i<(tabR.length-1);i++){
                    for(var j=0;j<(tabR.length-1);j++){
                        if(tabR[j+1][1] > tabR[j][1]){
                            tempTab = [tabR[j+1][0],tabR[j+1][1],tabR[j+1][2]];
                            tabR[j+1] = [tabR[j][0],tabR[j][1],tabR[j][2]];
                            tabR[j] = tempTab;
                        }
                    }

                }
                var tempTab = [];
                for(var i=0;i<(tabD.length-1);i++){
                    for(var j=0;j<(tabD.length-1);j++){
                        if(tabD[j+1][1] > tabD[j][1]){
                            tempTab = [tabD[j+1][0],tabD[j+1][1],tabD[j+1][2]];
                            tabD[j+1] = [tabD[j][0],tabD[j][1],tabD[j][2]];
                            tabD[j] = tempTab;
                        }
                    }

                }

                // Now that we have all tabs sorted,we can now show datas
                // But before that we must verify if datas >= 3

                console.log("Testing");
                console.log("Testing End");

                if(tabR.length >= 3){
                    for (var i=0;i<3;i++){
                        var image = null;
                        if(tabR[i][3]==null || tabR[1][3]=="null"){
                            image = "{{ asset('img/avatar.jpg') }}";
                        }else{
                            image = "user_profile_pictures/"+tabR[i][3];
                        }
                        $(".info_container_retards").append("" +
                            "<div class='card col-lg-12 col-sm-12 text-center'>\n" +
                            "    <img src='"+image+"' class='rounded-circle d-block mx-auto' width='50' height='50'/>\n" +
                            "    <span class='top user-info-home'>\n" +
                            "        <span class='grey-text text-darken-2'><b>"+tabR[i][0]+"</b></span>\n" +
                            "        <br>\n" +
                            "        <span>"+convertInHour(precisionRound(tabR[i][1],0))+"</span> min\n" +
                            "        <br>\n" +
                            "        <span><b>"+tabR[i][2]+"</b></span>\n" +
                            "    </span>\n" +
                            "</div>"
                        );
                    }
                }else {
                    $.each(tabR,function (arrayID) {
                        var image = null;
                        if(tabR[arrayID][3]==null || tabR[arrayID][3]=="null"){
                            image = "{{ asset('img/avatar.jpg') }}";
                        }else{
                            image = "user_profile_pictures/"+tabR[arrayID][3];
                        }
                        $(".info_container_retards").append("" +
                            "<div class='card col-lg-12 col-sm-12 text-center'>\n" +
                            "    <img src='"+image+"' class='rounded-circle d-block mx-auto' width='50' height='50'/>\n" +
                            "    <span class='top user-info-home'>\n" +
                            "        <span class='grey-text text-darken-2'><b>"+tabR[arrayID][0]+"</b></span>\n" +
                            "        <br>\n" +
                            "        <span>"+convertInHour(precisionRound(tabR[arrayID][1],0))+"</span> min\n" +
                            "        <br>\n" +
                            "        <span><b>"+tabR[arrayID][2]+"</b></span>\n" +
                            "    </span>\n" +
                            "</div>"
                        );
                        console.log("Index : "+arrayID);
                        cpt++;
                    });
                }

                if(tabD.length >= 3){
                    for (var i=0;i<3;i++){
                        var image = null;
                        if(tabD[i][3]==null || tabD[1][3]=="null"){
                            image = "{{ asset('img/avatar.jpg') }}";
                        }else{
                            image = "user_profile_pictures/"+tabD[i][3];
                        }
                        $(".info_container_departs").append("" +
                            "<div class='card col-lg-12 col-sm-12 text-center'>\n" +
                            "    <img src='"+image+"' class='rounded-circle d-block mx-auto' width='50' height='50'/>\n" +
                            "    <span class='top user-info-home'>\n" +
                            "        <span class='grey-text text-darken-2'><b>"+tabD[i][0]+"</b></span>\n" +
                            "        <br>\n" +
                            "        <span>"+convertInHour(precisionRound(tabD[i][1],0))+"</span> min\n" +
                            "        <br>\n" +
                            "        <span><b>"+tabD[i][2]+"</b></span>\n" +
                            "    </span>\n" +
                            "</div>"
                        );
                    }
                }else {
                    $.each(tabD,function (arrayID) {
                        var image = null;
                        if(tabD[arrayID][3]==null || tabD[arrayID][3]=="null"){
                            image = "{{ asset('img/avatar.jpg') }}";
                        }else{
                            image = "user_profile_pictures/"+tabD[arrayID][3];
                        }
                        $(".info_container_departs").append("" +
                            "<div class='card col-lg-12 col-sm-12 text-center' \n" +
                            "    <img src='"+image+"' class='rounded-circle d-block mx-auto' width='50' height='50'/>\n" +
                            "    <span class='top user-info-home'>\n" +
                            "        <span class='grey-text text-darken-2'><b>"+tabD[arrayID][0]+"</b></span>\n" +
                            "        <br>\n" +
                            "        <span>"+convertInHour(precisionRound(tabD[arrayID][1],0))+"</span> min\n" +
                            "        <br>\n" +
                            "        <span><b>"+tabD[arrayID][2]+"</b></span>\n" +
                            "    </span>\n" +
                            "</div>");
                        console.log("Index : "+arrayID);
                        cpt++;
                    });
                }
            },
            error: function(msg) {
                //alert(msg);
                console.log(msg);
            }
        });

        $.ajax({
            type: 'POST',
            url: "{{ path('homeMonthStats') }}",
            success: function (data) {
                cumuls = data[0];
                var cumul_retard = cumuls['total_cumul_retard'];
                var cumul_depart = Math.abs(cumuls['total_cumul_depart']);
                var cumul_abscence = data['absences'];

                var opts = {
                    angle: 0.04, // The span of the gauge arc
                    lineWidth: 0.4, // The line thickness
                    radiusScale: 1, // Relative radius
                    pointer: {
                        length: 0.73, // // Relative to gauge radius
                        strokeWidth: 0.024, // The thickness
                        color: '#000000' // Fill color
                    },
                    limitMax: false,     // If false, max value increases automatically if value > maxValue
                    limitMin: false,     // If true, the min value of the gauge will be fixed

                    generateGradient: true,
                    highDpiSupport: true,     // High resolution support
                    // renderTicks is Optional
                };

                var target1 = document.getElementById('foo1'); // your canvas element
                var gauge1 = new Gauge(target1).setOptions(opts); // create sexy gauge!
                gauge1.setOptions(
                    {
                        staticZones: [
                            {strokeStyle: "rgb(255,0,0)", min: {{ company_config? company_config.getLateHoursAllowed()/2 : 6 }}, max: {{ company_config? company_config.getLateHoursAllowed() : 7 }} },
                            {strokeStyle: "rgb(200,100,0)", min: {{ company_config? company_config.getLateHoursAllowed()/3 : 4 }}, max: {{ company_config? company_config.getLateHoursAllowed()/2 : 5 }} },
                            {strokeStyle: "rgb(100,200,0)", min: {{ company_config? company_config.getLateHoursAllowed()/4 : 2 }}, max: {{ company_config? company_config.getLateHoursAllowed()/3 : 3 }} },
                            {strokeStyle: "rgb(0,255,0)", min: 0, max: {{ company_config? company_config.getLateHoursAllowed()/4 : 1 }} }
                        ],
                    }
                )
                gauge1.maxValue = {{ company_config? company_config.getLateHoursAllowed()|default(0) }}; // set max gauge value
                gauge1.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                gauge1.animationSpeed = 1; // set animation speed (32 is default value)
                if((cumul_retard/60) > {{ company_config? company_config.getLateHoursAllowed() }} ){
                    gauge1.set( {{company_config.getLateHoursAllowed()}} );
                }else{
                    gauge1.set(convertInHour(precisionRound(cumul_retard))); // set actual value

                }
                $("#modal-retard-content").html(convertInHour(precisionRound(cumul_retard, 0)) + " heures de retard ")

                console.log("cumul retard here ", cumul_retard/60);

                var target2 = document.getElementById('foo2'); // your canvas element
                var gauge2 = new Gauge(target2).setOptions(opts); // create sexy gauge!
                gauge2.maxValue = {{ company_config? company_config.getDepartureHoursAllowed() |default(0) }}; // set max gauge value
                gauge2.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                gauge2.animationSpeed = 1; // set animation speed (32 is default value)

                gauge2.setOptions(
                    {
                        staticZones: [
                            {strokeStyle: "rgb(255,0,0)", min: {{ company_config? company_config.getDepartureHoursAllowed()/2 : 6 }}, max: {{ company_config? company_config.getDepartureHoursAllowed() : 7 }} },
                            {strokeStyle: "rgb(200,100,0)", min: {{ company_config? company_config.getDepartureHoursAllowed()/3 : 4 }}, max: {{ company_config? company_config.getDepartureHoursAllowed()/2 : 5 }} },
                            {strokeStyle: "rgb(100,200,0)", min: {{ company_config? company_config.getDepartureHoursAllowed()/4 : 2 }}, max: {{ company_config? company_config.getDepartureHoursAllowed()/3 : 3 }} },
                            {strokeStyle: "rgb(0,255,0)", min: 0, max: {{ company_config? company_config.getDepartureHoursAllowed()/4 : 1 }} }
                        ],
                    }
                )

                if((cumul_depart/60) > {{ company_config? company_config.getDepartureHoursAllowed() }} ){
                    gauge2.set( {{company_config.getDepartureHoursAllowed()}} );
                }else{
                    gauge2.set(convertInHour(precisionRound(cumul_depart))); // set actual value
                }
                $("#modal-depart-content").html(convertInHour(precisionRound(cumul_depart/60, 0)) + " heures de départ prématuré ")
                console.log("cumul depart here ", cumul_depart/60);


                var target3 = document.getElementById('foo3'); // your canvas element
                var gauge3 = new Gauge(target3).setOptions(opts); // create sexy gauge!
                gauge3.maxValue = {{ company_config? company_config.getAbsentHoursAllowed() |default(0) }}; // set max gauge value
                gauge3.setMinValue(0);  // Prefer setter over gauge.minValue = 0
                gauge3.animationSpeed = 1; // set animation speed (32 is default value)

                gauge3.setOptions(
                    {
                        staticZones: [
                            {strokeStyle: "rgb(255,0,0)", min: {{ company_config? company_config.getAbsentHoursAllowed()/2 : 6 }}, max: {{ company_config? company_config.getAbsentHoursAllowed() : 7 }} },
                            {strokeStyle: "rgb(200,100,0)", min: {{ company_config? company_config.getAbsentHoursAllowed()/3 : 4 }}, max: {{ company_config? company_config.getAbsentHoursAllowed()/2 : 5 }} },
                            {strokeStyle: "rgb(100,200,0)", min: {{ company_config? company_config.getAbsentHoursAllowed()/4 : 2 }}, max: {{ company_config? company_config.getAbsentHoursAllowed()/3 : 3 }} },
                            {strokeStyle: "rgb(0,255,0)", min: 0, max: {{ company_config? company_config.getAbsentHoursAllowed()/4 : 1 }} }
                        ],
                    }
                )

                if((cumul_abscence) > {{ company_config? company_config.getAbsentHoursAllowed() }} ){
                    gauge3.set( {{company_config.getAbsentHoursAllowed()}} );
                }else{
                    gauge3.set(cumul_abscence); // set actual value
                }
                $("#modal-abscence-content").html(cumul_abscence + " abscences")
                console.log("cumul abscence here ", cumul_abscence);
            },
            error: function(msg) {
                //alert(msg);
                console.log(msg);
            }
        });



    </script>
    <script src="{{ asset('js/gauge.min.js') }}"></script>
    <script>

    </script>

{% endblock %}

{% block stylesheets %}
{% endblock %}
