{% extends 'base.html.twig' %}


{% block title %}C.A.S - Gestion{% endblock %}

{% block body %}
    
    

    <!-- Modal for ajax loading -->
    <div id="modal_loading" class="modal ajax_modals">
        <div class="modal-content">
            <p class="center">
                <img src="{{ asset('img/ajax_loaders/ajax-loading.gif') }}">
            </p>
        </div>
    </div>

<div class="container-fluid">
    <div class="wrapper">

        {% include('cas/partials/_sidebar.html.twig') %}

        <div class="content-page">
            <div class="content">
                <div class="col-lg-12"><h2 class="page-title"><span class="uil-cog"></span> Gestion globale du système</h2></div>
                <div class="row card">
                    <div class="col-lg-12 card-body">

                        <div class="row">
                            <div class="col-lg-12">
                                <ul class="collapsible" data-collapsible="accordion">
                                    <li>
                                        <div class="collapsible-header collapsible-header-title active">Gestion du système</div>
                                        <div class="collapsible-body" style="padding-bottom: 0px">
                                            <div class="row">
                                                <form class="col-lg-12" id="main_form">
                                                    <span id="type1">
                                                        <div class="row firstOne" >
                                                            <div class="col-lg-12">
                                                                <span>Choisissez une action à effectuer</span>
                                                            </div>
                                                        </div>
                                                        <div class="row list-group list-group-horizontal">
                                                            <div class="col-sm-6 list-group-item">
                                                                <a href="{{ path("manageEmployee") }}" style="color: inherit">
                                                                    <p class="manageActions">
                                                                        <span class="uil-user left" style="position: relative;top: 2px"></span>
                                                                        Mise à jour des employés
                                                                    </p>
                                                                </a>
                                                            </div>
                                                            <div class="col-sm-6 list-group-item">
                                                                <a href="{{ path("manageEmpFingerprint") }}" style="color: inherit">
                                                                    <p class="manageActions">
                                                                        <span class="uil-hand-pointer left" style="position: relative;top: 2px"></span>
                                                                        Mise à jour des empreintes des employés
                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="row list-group list-group-horizontal">
                                                            <div class="col l6 list-group-item">
                                                                <a href="{{ path("manageEmpProfilePicture") }}" style="color: inherit">
                                                                    <p class="manageActions">
                                                                        <span class="uil-images left" style="position: relative;top: 2px"></span>
                                                                        Mise à jour des photos de profil des employés
                                                                    </p>
                                                                </a>
                                                            </div>
                                                            <div class="col l6 list-group-item">
                                                                <a href="{{ path("pubCovers") }}" style="color: inherit">
                                                                    <p class="manageActions">
                                                                        <span class="uil-images left" style="position: relative;top: 2px"></span>
                                                                        Mise à jour des images publicitaires
                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="row list-group list-group-horizontal">
                                                            <div class="col l6 list-group-item">
                                                                <a href="{{ path("manageDepartement") }}" style="color: inherit">
                                                                    <p class="manageActions">
                                                                        <span class="uil-laptop left" style="position: relative;top: 2px"></span>
                                                                        Synchroniser les departements
                                                                    </p>
                                                                </a>
                                                            </div>
                                                            <div class="col l6 list-group-item">
                                                                <a href="{{ path("manageSocietyName") }}" style="color: inherit">
                                                                    <p class="manageActions">
                                                                        <span class="uil-edit left" style="position: relative;top: 2px"></span>
                                                                        Modifier le nom de la société
                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="row list-group list-group-horizontal">
                                                            <div class="col l6 list-group-item">
                                                                <a href="{{ path("expiry") }}" style="color: inherit">
                                                                    <p class="manageActions">
                                                                        <span class="uil-calendar-alt left" style="position: relative;top: 2px"></span>
                                                                        Gérer la date d'expiration
                                                                    </p>
                                                                </a>
                                                            </div>
                                                            <div class="col-lg-3 list-group-item">
                                                                <a href="{{ path("addAdmin") }}" style="color: inherit">
                                                                    <p class="manageActions">
                                                                        <span class="uil-user-circle left" style="position: relative;top: 2px"></span>
                                                                        Désigner un admin
                                                                    </p>
                                                                </a>
                                                            </div>
                                                            <div class="col-lg-3 list-group-item">
                                                                <a href="{{ path("roleChange") }}" style="color: inherit">
                                                                    <p class="manageActions">
                                                                        <span class="uil-user-circle left" style="position: relative;top: 2px"></span>
                                                                        Role de l'employé
                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="row list-group list-group-horizontal">
                                                            <div class="col-lg-3 list-group-item">
                                                                <a href="{{ path("manageDeleteData") }}" style="color: inherit">
                                                                    <p class="manageActions red">
                                                                        <span class="uil-trash left" style="position: relative;top: 2px"></span>
                                                                        Suppression
                                                                    </p>
                                                                </a>
                                                            </div>
                                                            <div class="col-lg-3 list-group-item">
                                                                <a href="{{ path("switch") }}" style="color: inherit">
                                                                    <p class="manageActions red">
                                                                        <span class="uil-laptop left" style="position: relative;top: 2px"></span>
                                                                        Gestion machines
                                                                    </p>
                                                                </a>
                                                            </div>
                                                            <div class="col-lg-6 list-group-item">
                                                                <a href="{{ path("addNewAdmin") }}" style="color: inherit">
                                                                    <p class="manageActions">
                                                                        <span class="uil-user-circle left" style="position: relative;top: 2px"></span>
                                                                        Ajouter un admin
                                                                    </p>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="fixed-action-btn" style="margin-bottom: 30px">
                                                          <a class="btn-floating tooltipped pulse green btn-large" id="btnSyncAll" data-position="top" data-tooltip="Tout mettre à jour">
                                                            <span class="uil-sync"></span>
                                                          </a>
                                                        </div>
                                                    </span>
                                                </form>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            $("#btnSyncAll").click(function () {
                $('#modal_loading').modal('open');
                $.ajax({
                    type: 'POST',
                    url: "{{ path('syncAll') }}",
                    success: function (data) {
                        console.log(data);
                        alert("Données mise à jour");
                        // Closing the loading box
                        $('#modal_loading').modal('close');
                    },
                    error: function (msg) {
                        // Closing the loading box
                        $('#modal_loading').modal('close');
                        alert("erreur");
                        console.log(msg);
                    }
                });
            });
        });
    </script>
    <script>
        // On s'attaque aux collapsibles
        $(function () {
            $(".cl_Manage").addClass("collapsible_element_active");
            $(".navigation_collapsible").collapsible('open',6);
        });
    </script>
{% endblock %}
