{% extends 'base.html.twig' %}


{% block title %}C.A.S - Rapport des employés{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/multi.min.css') }}">
{% endblock %}

{% block body %}

    <!-- Modal for ajax loading -->
    <div id="modal_loading" class="modal ajax_modals">
        <div class="modal-content">
            <p class="center">
                <img src="{{ asset('img/ajax_loaders/ajax-loading.gif') }}">
            </p>
        </div>
    </div>

    <div id="modal_detail" class="modal" style="overflow:hidden;padding-bottom:0px">
        <div class="modal-content" style="padding-bottom:0px;overflow:hidden">
            <div class="row">
                <div class="col s3 teal white-text" style="height:490px;margin:-30px 0px 0px -20px">
                    <br/>
                    <p class="center">MOIS CHOISI</p>
                </div>
                <div class="col s9">
                    <table class="table table-striped table-condensed">
                        <tbody>
                            <p class="center" style="font-size:25px;margin-top:0px">
                                <span class="fa fa-calendar-alt"></span>
                                Choisissez un mois
                            </p>
                        </tbody>
                        <div class="row">
                            <div class="col l5 offset-l1 monthElement" tag="01">
                                Janvier
                            </div>
                            <div class="col l5 offset-l1 monthElement" tag="02">
                                Février
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l5 offset-l1 monthElement" tag="03">
                                Mars
                            </div>
                            <div class="col l5 offset-l1 monthElement" tag="04">
                                Avril
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l5 offset-l1 monthElement" tag="05">
                                Mai
                            </div>
                            <div class="col l5 offset-l1 monthElement" tag="06">
                                Juin
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l5 offset-l1 monthElement" tag="07">
                                Juillet
                            </div>
                            <div class="col l5 offset-l1 monthElement" tag="08">
                                Août
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l5 offset-l1 monthElement" tag="09">
                                Septembre
                            </div>
                            <div class="col l5 offset-l1 monthElement" tag="10">
                                Octobre
                            </div>
                        </div>
                        <div class="row">
                            <div class="col l5 offset-l1 monthElement" tag="11">
                                Novembre
                            </div>
                            <div class="col l5 offset-l1 monthElement" tag="12">
                                Décembre
                            </div>
                        </div>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col l12">
            <h5 class="page-title"><span class="fa fa-file-pdf"></span> Rapports</h5>
            <p class="description_message">Générez un rapport PDF des employés choisis sur la durée choisie</p>
            <div class="row">
                <div class="col l12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header collapsible-header-title active">Choisissez les paramètres</div>
                            <div class="collapsible-body" style="padding-bottom: 0px">
                                <div class="row">
                                    <form method="post" action="{{ path('generatePDF') }}" target="_blank" id="form" class="col l12">
                                        <div class="row row-no-margin">
                                            <div class="input-field col s12">
                                                <div class="row">
                                                    <div class="col l12">
                                                        <button type="button" id="selectDate">Sélectionner une durée</button>
                                                        <button type="button" id="chooseMonth">Choisir un mois</button>
                                                    </div>
                                                </div>
                                                <div class="row" id="errorContainer">
                                                    <div class="col l12">
                                                        <span class="red-text"></span>
                                                    </div>
                                                </div>
                                                <div class="row row-no-margin" id="selectDateSection" style="display:none">
                                                    <div class="col l6">
                                                        <span>Veuillez sélectionner la durée de votre choix</span>
                                                        <br>
                                                        <input id="fromDate" type="text" name="fromDate" class="datepicker input-customized" placeholder="DU">
                                                    </div>
                                                    <span> - </span>
                                                    <div class="col l6">
                                                        <input id="toDate" type="text" name="toDate" class="datepicker input-customized" placeholder="AU">
                                                        <input id="type" type="hidden" name="type">
                                                        <input id="dateType" type="hidden" name="dateType" value="0">
                                                    </div>
                                                </div>
                                                <div class="row row-no-margin" id="choosenMonthSection" style="display:none">
                                                    <div class="col l6">
                                                        <span>Mois choisi : <span id="choosenMonth"></span></span>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row row-no-margin">
                                                    <div class="col l12">
                                                        <select multiple="multiple" id="destination" name="destination[]" class="browser-default multiple_select_perso">
                                                            {% for dep in listDep %}
                                                                <option value="{{ dep.name }}" disabled="disabled">{{ dep.name }}</option>
                                                                {% for emp in listEmployee %}
                                                                    {% if emp.departement.id == dep.id %}
                                                                        <option value="{{ emp.id }}">{{ emp.getLastName~" "~emp.getSurname }}</option>
                                                                    {% endif %}
                                                                {% endfor %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="row row-no-margin">
                                                    <div class="col l6">
                                                        <button id="allEmployeesSelectButton" type="button" style="margin-top: 20px">Tout selectionner</button>
                                                    </div>
                                                    <div class="col l6">
                                                        <span class="right" style="margin-top: 20px">
                                                            <input type="button" id="submitIndividualWithoutBonusButton" value="Individuel sans bonus" class="btn-perso-historique">

                                                            <input type="button" id="submitIndividualButton" value="Individuel" class="btn-perso-historique">
                                                            <input type="button" id="submitButton" value="Collectif" class="btn-perso-historique">
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/multi.min.js") }}"></script>
    <script>
        var select_element = document.getElementById('destination');
        multi( select_element, {
            'enable_search': true,
            'search_placeholder': 'Search...',
            'non_selected_header': 'All options',
            'selected_header': 'Selected options'
        });
    </script>
    <script>
        $(function () {
            var state = 0;
            $("#allEmployeesSelectButton").click(function () {
                if (state === 0){
                    state = 1;
                    $(this).html("Tout ramener");
                }else{
                    state = 0;
                    $(this).html("Tout selectionner");
                }
                $.each($(".non-selected-wrapper .item:not('.disabled')"),function (i,value) {
                    $(".non-selected-wrapper .item:not('.disabled')")[i].click();
                    value.click();
                });
            });
        });
    </script>
    <script>

        function precisionRound(number, precision) {
            var factor = Math.pow(10, precision);
            return Math.round(number * factor) / factor;
        }

        var tempsPerduRetards = 0;
        $(function(){
            $(".monthElement").click(function(){
                $("#dateType").val($(this).attr("tag"));
                $('#modal_detail').modal('close');
                $('#choosenMonthSection').show();
                $('#choosenMonth').text($(this).text());
            });

            $("#selectDate").click(function(){
                $("#selectDateSection").show();
                $("#dateType").val("0");
            });
            $("#chooseMonth").click(function(){
                $("#selectDateSection").hide();
                $('#modal_detail').modal('open');
            });

            function returnJour(date) {
                var days = ['Dimanche','Lundi','Mardi','Mercredi','Jeudi','Vendredi','Samedi'];
                var theDate = new Date(date);
                var dayName = days[theDate.getDay()];
                return dayName;
            }

            /* Création de la fonction de chargement des données de l'employé sélectionné */
            function loadSelectedEmpData(id) {
                var abs = 0;
                var fromDate = $("#fromDate").val();
                var fFromDate = new Date($("#fromDate").val());
                var toDate = $("#toDate").val();
                var fToDate = new Date($("#toDate").val());

                // fonction d'ajout de date
                Date.prototype.addDays = function(days) {
                    var dat = new Date(this.valueOf());
                    dat.setDate(dat.getDate() + days);
                    return dat;
                }
                $.ajax({
                    type: 'POST',
                    url: "returnOneEmployee/"+id,
                    data: {'dateFrom':fromDate,'dateTo':toDate},
                    success: function(data) {
                        var res = JSON.parse(data);
                        //alert("Le résultat : "+res.emp["id"]);
                        var employeeId = res.emp["id"];
                        var fullName = res.emp["surname"]+" "+res.emp["lastName"];
                        var salary = res.emp["salary"];

                        var timeDiff = Math.abs(fToDate.getTime() - fFromDate.getTime());
                        var diffDays = timeDiff / (1000 * 3600 * 24);
                        diffDays +=1;
                        var totalSalary = (salary/30)*diffDays;
                        var salaryPerDay = (salary/30);
                        var salaryPerMin = (((salary/30)/24)/60);

                        tempsPerduRetards = data.tpr;

                        $("#nameSpan").text(fullName);
                        $("#salarySpan").text(salary);
                        $("#fromDateSpan").text(fromDate);
                        $("#toDateSpan").text(toDate);
                        $("#totalSalarySpan").text(precisionRound(res.salaryFinal,0));

                        // Recuperation des autres informations
                        $.ajax({
                            type: 'POST',
                            url: "userStats",
                            data: {'empId':employeeId,'dateFrom':fromDate,'dateTo':toDate},
                            success: function (data) {

                                // Closing the loading box

                                $('#modal_loading').modal('close');
                            },
                            error: function (msg) {
                                // Closing the loading box
                                $('#modal_loading').modal('close');
                                alert("Erreur : "+msg);
                            }
                        });
                        $('#modal_loading').modal('close');
                    },
                    error: function(msg) {
                        alert("Erreur : "+msg);
                    }
                });
            }


            var len = {{ listEmployee | length }};
            var tab = [];
            {% for el in listEmployee %}
                tab.push({depId:"{{ el.departement.id }}",id:"{{ el.id }}",ccid:"{{ el.employeeCcid }}",surname:"{{ el.surname }}", lastName:"{{ el.lastName }}"});
            {% endfor %}
            console.log("Test");
            console.log(tab);
            $("#depSelect").change(function(){
                /* On vide le contenu de la table */
                $("#empSelect").html("");
                /* On récupère le département sélectionné */
                var selectedDep = $("#depSelect").val();
                for(var i=0;i<len;i++){
                    //alert("L'id dep est "+res.employees[i].departement.id);
                    /* On vérifie si oui ou nom cet employé appartient au département
                     * Si oui on l'affiche
                     * Sinon on l'ignore tout simplement
                     */
                    var currentEmpDepId = tab[i].depId;
                    if(currentEmpDepId == selectedDep){
                        $("#empSelect").append("" +
                            "<option value="+tab[i].id+">" +tab[i].ccid+" "+tab[i].lastName+" "+tab[i].surname+"</option>"
                        );
                    }
                }
            });

            $("#submitButton").click(function () {
                var dateFrom = new Date($("#fromDate").val()).getTime();
                var dateTo = new Date($("#toDate").val()).getTime();
                if($("#destination").val()!=""){
                    if($("#dateType").val() != "0"){
                        $('#modal_loading').modal('open');
                        console.log($("#destination").val());
                        $("#errorContainer").hide();
                        //console.log($("#destination").val());
                        $("#type").val("0");
                        $("#form").submit();
                        $('#modal_loading').modal('close');
                    }else{
                        if($("#fromDate").val()!=""){
                            if($("#toDate").val()!=""){
                                //if(dateFrom < dateTo || dateFrom == dateTo){
                                    $('#modal_loading').modal('open');
                                    console.log($("#destination").val());
                                    $("#errorContainer").hide();
                                        //console.log($("#destination").val());
                                    $("#type").val("0");
                                    $("#form").submit();
                                    $('#modal_loading').modal('close');
                                /*}else {
                                    $("#errorContainer").show();
                                    $("#errorContainer div span").text("Erreur : La date de début ne peut pas etre superieur à la date de fin");
                                    $("#containerMustBeHidden").attr("style","display:none");
                                }*/
                            }else {
                                $("#errorContainer").show();
                                $("#errorContainer div span").text("Erreur : veuillez choisir une date de fin valide");
                                $("#containerMustBeHidden").attr("style","display:none");
                            }
                        }else{
                            $("#errorContainer").show();
                            $("#errorContainer div span").text("Erreur : veuillez choisir une date de début valide");
                            $("#containerMustBeHidden").attr("style","display:none");
                        }
                    }
                }else{
                    $("#errorContainer").show();
                    $("#errorContainer div span").text("Erreur : veuillez choisir un employé");
                    $("#containerMustBeHidden").attr("style","display:none");
                }
            });

            // The same thing but for the individual printing
            $("#submitIndividualButton").click(function () {
                var dateFrom = new Date($("#fromDate").val()).getTime();
                var dateTo = new Date($("#toDate").val()).getTime();
                if($("#destination").val()!=""){
                    if($("#dateType").val() != "0"){
                        $('#modal_loading').modal('open');
                                    console.log($("#destination").val());
                                    $("#errorContainer").hide();
                                    //console.log($("#destination").val());
                                    $("#type").val("1");
                                    $("#form").submit();
                                    $('#modal_loading').modal('close');
                    }else{
                        if($("#fromDate").val()!=""){
                            if($("#toDate").val()!=""){
                                //if(dateFrom < dateTo || dateFrom == dateTo){
                                    $('#modal_loading').modal('open');
                                    console.log($("#destination").val());
                                    $("#errorContainer").hide();
                                    //console.log($("#destination").val());
                                    $("#type").val("1");
                                    $("#form").submit();
                                    $('#modal_loading').modal('close');
                                /*}else {
                                    $("#errorContainer").show();
                                    $("#errorContainer div span").text("Erreur : La date de début ne peut pas etre superieur à la date de fin");
                                    $("#containerMustBeHidden").attr("style","display:none");
                                }*/
                            }else {
                                $("#errorContainer").show();
                                $("#errorContainer div span").text("Erreur : veuillez choisir une date de fin valide");
                                $("#containerMustBeHidden").attr("style","display:none");
                            }
                        }else{
                            $("#errorContainer").show();
                            $("#errorContainer div span").text("Erreur : veuillez choisir une date de début valide");
                            $("#containerMustBeHidden").attr("style","display:none");
                        }
                    }
                }else{
                    $("#errorContainer").show();
                    $("#errorContainer div span").text("Erreur : veuillez choisir un employé");
                    $("#containerMustBeHidden").attr("style","display:none");
                }
            });

            $("#submitIndividualWithoutBonusButton").click(function () {
                var dateFrom = new Date($("#fromDate").val()).getTime();
                var dateTo = new Date($("#toDate").val()).getTime();
                if($("#destination").val()!=""){
                    if($("#dateType").val() != "0"){
                        $('#modal_loading').modal('open');
                        console.log($("#destination").val());
                        $("#errorContainer").hide();
                        //console.log($("#destination").val());
                        $("#type").val("2");
                        $("#form").submit();
                        $('#modal_loading').modal('close');
                    }else{
                        if($("#fromDate").val()!=""){
                            if($("#toDate").val()!=""){
                                //if(dateFrom < dateTo || dateFrom == dateTo){
                                    $('#modal_loading').modal('open');
                                    console.log($("#destination").val());
                                    $("#errorContainer").hide();
                                    //console.log($("#destination").val());
                                    $("#type").val("2");
                                    $("#form").submit();
                                    $('#modal_loading').modal('close');
                                /*}else {
                                    $("#errorContainer").show();
                                    $("#errorContainer div span").text("Erreur : La date de début ne peut pas etre superieur à la date de fin");
                                    $("#containerMustBeHidden").attr("style","display:none");
                                }*/
                            }else {
                                $("#errorContainer").show();
                                $("#errorContainer div span").text("Erreur : veuillez choisir une date de fin valide");
                                $("#containerMustBeHidden").attr("style","display:none");
                            }
                        }else{
                            $("#errorContainer").show();
                            $("#errorContainer div span").text("Erreur : veuillez choisir une date de début valide");
                            $("#containerMustBeHidden").attr("style","display:none");
                        }
                    }
                }else{
                    $("#errorContainer").show();
                    $("#errorContainer div span").text("Erreur : veuillez choisir un employé");
                    $("#containerMustBeHidden").attr("style","display:none");
                }
            });
        });
    </script>
    <script>
        // On s'attaque aux collapsibles
        $(function () {
            $(".cl_Rapports").addClass("collapsible_element_active");
            $(".navigation_collapsible").collapsible('open',2);


            $('.datepicker').on('mousedown',function(event){
                event.preventDefault();
            });

        });
    </script>
{% endblock %}
