{% extends 'base.html.twig' %}

{% block body %}
    <!-- hidden input -->
    <div style="display: none">
        <select id="depSelected">
            {% for dep in departements %}
                <option value="{{ dep.id }}">{{ dep.id }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="row">
        <div class="col l12">
            <h5>Changer l'état des machines</h5>

            <div class="row">
                <div class="col l12">
                    <ul class="collapsible" data-collapsible="accordion">
                        <li>
                            <div class="collapsible-header active">Changement d'état</div>
                            <div class="collapsible-body" style="padding-bottom: 0px">
                                <div class="row">
                                    <form class="col l12" id="main_form">
                                        <p>
                                            <input name="group1" value="1" type="radio" id="el1" />
                                            <label for="el1">Toutes les machines</label>
                                            <input name="group1" value="2" type="radio" id="el2" />
                                            <label for="el2">Par départements</label>
                                            <input name="group1" value="3" type="radio" id="el3" />
                                            <label for="el3">Sélection unique</label>
                                        </p>
                                        <span id="type1">
                                            <div class="row firstOne">
                                                <div class="col l12">
                                                    <h5>Toutes les machines</h5>
                                                    <span>Changer l'état de toutes les machines du système</span>
                                                </div>
                                            </div>
                                            <div id="rebootForAll" class="btn-floating btn-large waves-effect waves-light center blue darken-4 white-text thirdImage" style="padding: ">
                                                <span class="fa fa-sync"></span>
                                            </div>
                                            <span>Redémarrer les machines</span>
                                            <span style="margin-left: 70px">Dernier redémarrage : 13/07/2017 à 18h00</span>
                                        </span>
                                        <span id="type2">
                                            <div class="row firstOne">
                                                <div class="col l12">
                                                    <h5>Par départements</h5>
                                                    <span>Choisissez le département</span>
                                                    <select multiple="multiple" id="depSelected2">
                                                        {% for dep in departements %}
                                                            <option value="{{ dep.id }}">{{ dep.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <br>
                                                    Changer l'état de toutes les machines d'un département donné
                                                </div>
                                            </div>
                                            <div id="rebootForDep" class="btn-floating btn-large waves-effect waves-light center blue darken-4 white-text thirdImage" style="padding: ">
                                                <span class="fa fa-sync"></span>
                                            </div>
                                            <span>Redémarrer les machines</span>
                                            <span style="margin-left: 70px">Dernier redémarrage : 13/07/2017 à 18h00</span>
                                        </span>
                                        <span id="type3">
                                            <div class="row firstOne">
                                                <div class="col l12">
                                                    <h5>Sélection unique</h5>
                                                    <span>Choisissez la machine correspondante</span>
                                                    <select id="macSelected">
                                                        {% for mac in machines %}
                                                            <option value="{{ mac.machineId }}">{{ mac.name }}</option>
                                                        {% endfor %}
                                                    </select>
                                                    <br>
                                                    Changer l'état d'une machine précise
                                                </div>
                                            </div>
                                            <div id="rebootForMac" class="btn-floating btn-large waves-effect waves-light center blue darken-4 white-text thirdImage" style="padding: ">
                                                <span class="fa fa-sync"></span>
                                            </div>
                                            <span>Redémarrer les machines</span>
                                            <span style="margin-left: 70px">Dernier redémarrage : 13/07/2017 à 18h00</span>
                                        </span>
                                    </form>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block stylesheets %}
{% endblock %}

{% block javascripts %}
    <script>
        $(function () {
            var selected = 0;

            $("#type1").show();
            $("#type2").hide();
            $("#type3").hide();
            $("input[type=radio][name=group1]").change(function () {
                switch (this.value) {
                    case "1":
                        $("#type1").show();
                        $("#type2").hide();
                        $("#type3").hide();
                        selected = 1;
                        break;
                    case "2":
                        $("#type1").hide();
                        $("#type2").show();
                        $("#type3").hide();
                        selected = 2;
                        break;
                    case "3":
                        $("#type1").hide();
                        $("#type2").hide();
                        $("#type3").show();
                        selected = 3;
                        break;
                }
            });
        });
    </script>
    <!-- Script pour les évenements de mise à jour -->
    <script>
        $(function () {
            var tab = [];
            $.each($("#depSelected").children(),function (arrayID) {
                var el = $(this).attr("value");
                //console.log("Index : "+arrayID+" Value : "+el);
                tab.push(el);
            });
            console.log(tab);
            //var data = {nom:"Ebenezer",age:21};
            //var tab2 = [data,{nom:"Francis",age:21}];
            //console.log(tab2);
            $("#rebootForAll").click(function () {
                $.ajax({
                    type: 'POST',
                    url: "{{ path('syncReboot') }}",
                    data: {"deps":tab},
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (msg) {
                        alert("erreur");
                        console.log(msg);
                    }
                });
            });
        });
    </script>
    <script>
        $(function () {
            var tab = [];
            console.log(tab);
            $("#rebootForDep").click(function () {
                var el = $("#depSelected2").val();
                tab.push(el);
                console.log(el);
                $.ajax({
                    type: 'POST',
                    url: "{{ path('syncReboot') }}",
                    data: {"deps":el},
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (msg) {
                        alert("erreur");
                        console.log(msg);
                    }
                });
            });
        });
    </script>
    <script>
        $(function () {
            $("#rebootForMac").click(function () {
                var el = $("#macSelected").val();
                console.log("Element : "+el);
                $.ajax({
                    type: 'POST',
                    url: "{{ path('syncRebootByMac') }}",
                    data: {"mac":el},
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (msg) {
                        alert("erreur");
                        console.log(msg);
                    }
                });
            });
        });
    </script>

{% endblock %}
